.profile-picture-big{
    width: 150px !important;    
}

*{ text-decoration: none !important; }

#errorUsuarioIncorrecto{
    visibility:hidden;
    color: red;
    font-weight: bold;
}

#errorClaveVacia{
    visibility:hidden;
    color: red;
    font-weight: bold;
}

#errorUsuarioVacio{
    visibility:hidden;
    color: red;
    font-weight: bold;
}



input.error{
	border-color:Red;	
	border-style:solid;	
	border-width:1px;
}
label.error{
	color:Red;	
}